<div class="ui container">

    <div class="ui menu">
        <a  routerLink="" class="item">HOME</a>
        <a  routerLink="resume" class="item"> RESUME</a>
        
        <div class="right menu">
            <a  href="https://github.com/Fgomezcode"
            target="_blank" class="item">gitHub</a>
           <a  href="https://www.linkedin.com/in/felipe-gomez-villalobos/"
            target="_blank" class="item">linkedIn</a>
        </div>
    </div>

    <div class="ui segment">
        <h3 style="text-align: right;">FELIPE GOMEZ <h4>Computer Science Student</h4></h3>
        
        
        <router-outlet></router-outlet>
    </div>
</div>
